<p class="clearfix">
    <%= f.label :name %>
    <%= f.text_field :name %>
</p>

<p class="clearfix">
    <%= f.label :title %>
    <%= f.text_field :title %>
</p>

<p class="clearfix">
    <%= f.label :visiblity %><br />
    <%= f.check_box :visiblity %>
</p>

<p class="clearfix">
    <%= f.label :public %><br />
    <%= f.check_box :public %>
</p>

