<h1>New asset</h1>

<%= error_messages_for(:page,:section,:asset, :class => "section" ) %>

<% form_for(:page,:section,:asset, :html => { :multipart => true }) do |f| %>
                 <!-- Picture URL -->
                <p class="clearfix">
                    <%= f.label :filename %>
                    <%= f.file_field :uploaded_data, :accept => ContentSystem::ContentMask %>
                </p>
  <p class="buttons">
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', pages_path %>
